


body{
    background-image: url("../1092577.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.recharts-wrapper{
    margin-top: 5%;
    margin-bottom: 5%;
}

.chartDiv{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}